html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  padding-top: 100px;
  color: #fff;
  background: linear-gradient(135deg, #1e1e2f, #2a1f4d);
font-family: Arial, Helvetica, sans-serif
;
font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e1e2f, #2a1f4d);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.content {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.subtitle {
  color: #d4d4d4;
  margin-bottom: 40px;
  font-size: 1.5;
}

.grid {
  display: flex;
  flex-direction: column; 
  gap: 40px;
  width: 100%;
}

.card {
  background: rgba(30, 30, 47, 0.85);
  border-radius: 12px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.5);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.projectTitle {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}

.projectDesc {
  color: #c7c7c7;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.button {
 background: #6c63ff;
  font-size: 1rem;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.button:hover {
  background: #005fcc;
}

