.footer {
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(30, 30, 47, 0.85);
  backdrop-filter: blur(10px);
  padding: 20px 40px;

  box-shadow: 0 -4px 20px rgba(0,0,0,0.4); /* sombra para cima */
  font-family: 'Gill Sans', Calibri, sans-serif;
}

.container {
  width: 100%;              /* ocupa toda a largura */
  margin: 0;                /* remove centralização com auto */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.left, .center, .right {
  flex: 1;  
  width: 100%;                /* cada coluna ocupa espaço proporcional */
  margin: 20px;
}

.logo {
  font-size: 1.8rem;
  color: #b3aaff;
  margin-bottom: 10px;
}

.text {
  font-size: 1.1rem;
  opacity: 0.7;
  color: #b3aaff;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #b3aaff;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.link:hover {
  color: #6c63ff;
}

.social {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 1.2rem;
  color: #fff;
  transition: 0.3s;
}

.icon:hover {
  color: #6c63ff;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .left, .center, .right {
    margin: 10px 0;
  }

  .nav {
    align-items: center;
  }

  .social {
    justify-content: center;
  }
}