.header {
  width: 100%;
  height: 80px; 

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(30, 30, 47, 0.85);
  backdrop-filter: blur(10px);

  position: fixed;
  top: 0;
  left: 0;

  box-shadow: 0 4px 20px rgba(0,0,0,0.4);

  font-family: 'Gill Sans', Calibri, sans-serif;
}

.nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.link {
  color: #b3aaff;
  font-size: 1.5rem;
  text-decoration: none;      
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  transition: color 0.3s ease, transform 0.2s ease;
}

.link:hover {
  color: #6c63ff;
  transform: scale(1.08);
}

.button {
  padding: 10px 22px;
  background: #6c63ff;
  margin: 2rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  transition: 0.3s ease;
}

.button:hover {
  background: #5146d9;
  transform: scale(1.05);
}

.logo{
    margin-left: 3rem;
    font-size: 2rem;
    color: #b07de0;
    font-family: Arial, Helvetica, sans-serif;
}